@import "tailwindcss";

@theme {
  --font-plex: "IBM Plex Mono", monospace;
  /* main color pallete */
  --color-button: rgba(255,49,46,1);
  --color-tirtiery: rgba(255,49,46,1);
  /* secondary color pallete*/
  /* Warna Dasar (Secondary) */
  --color-secondary: rgba(47, 128, 79, 1);       /* Hijau Utama */
  
  /* Variasi Palet */ 
  --color-secondary-light: rgba(76, 175, 115, 1); /* Hijau Cerah */
  --color-secondary-dark: rgba(30, 85, 52, 1);    /* Hijau Gelap */
  --color-secondary-soft: rgba(232, 245, 238, 1); /* Background Hijau Sangat Muda */
  
  /* Warna Aksen Pendukung */
  --color-primary: rgba(33, 37, 41, 1);           /* Hitam/Abu Tua untuk teks */
  --color-accent: rgba(255, 193, 7, 1);           /* Kuning/Emas untuk kontras (Opsional) */
  --color-surface: rgba(255, 255, 255, 1);        /* Putih Bersih */
}

:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}




